@import "tailwindcss";


@layer utilities {
    .animate-in {
        animation-fill-mode: both;
    }

    .slide-in-from-top {
        animation-name: slideInFromTop;
    }

    .slide-in-from-bottom {
        animation-name: slideInFromBottom;
    }

    .duration-200 {
        animation-duration: 200ms;
    }

    .duration-300 {
        animation-duration: 300ms;
    }

    .duration-700 {
        animation-duration: 700ms;
    }

    .delay-100 {
        animation-delay: 100ms;
    }

    .delay-200 {
        animation-delay: 200ms;
    }

    .delay-300 {
        animation-delay: 300ms;
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes slideInFromTop {
    from {
        transform: translateY(-1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@font-face {
  font-family: 'ClashDisplay';
  src: url('/font/ClashDisplay-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/font/ClashDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/font/ClashDisplay-Bold.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Apply globally */
body {
  font-family: 'ClashDisplay', sans-serif;
}

/* Optional custom class */
.font-clash {
  font-family: 'ClashDisplay', sans-serif;
}

/* Your existing style */
* {
  cursor: none;
}